<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="{{ style }}">
</head>
<body>
  {{#repeat instances}}
    {{#extract}}
      {{> body }}
    {{/extract}}
  {{/repeat}}
</body>
</html>